{% extends 'base.html.twig' %}

{% block pageTitle %}Privacy Policy Page{% endblock %}

{% block privacyLink %}active{% endblock %}

{% block main %}
    <p>
        This website stores zero cookies and so does not affect your browsing privacy in any way
    </p>


{% endblock %}
