{% extends 'base.html.twig' %}

{% block title %}edit product  page{% endblock %}

{% block body %}
    <h1>Edit Product page</h1>

    <form method="POST" action="/?action=processEdit">
    <p>
        ID:
        <input name="id" value="{{ product.id }}" readonly>
    </p>
    <p>
        Description:
        <input name="description" value="{{ product.description }}">
    </p>
    <p>
        Price:
        <input name="price" value="{{ product.price }}" type="number"
               min="0" step="0.01">
    </p>
    <input type="submit">
</form>
{% endblock %}
