{% extends 'base.html.twig' %}

{% block title %}Contact Details{% endblock %}

{% block body %}
<h1>MGW Contact Details</h1>

<p>
    email: info@my-great-website.com<br>
    Phone: +353 1 888 2233<br>
    Post: 198 Main Street, Dublin, Ireland
</p>
{% endblock %}

