<!doctype html>
<html lang="en">
<head>
    <title>MGW: {{ pageTitle }}</title>
</head>

<body>
<header>
    <img src="/images/logo.png" alt="logo" width="200px">
    <ul>
        <li>
            <a href="/">
                Home
            </a>
        </li>
        <li>
            <a href="/?action=contact">
                Contact Us
            </a>
        </li>
    </ul>
</header>

<blockquote>
    <p>
        <b>MGW. </b>
        <br>You know it makes sense!
    </p>
    <p>
        Welcome to My Great Website (MGW).
    </p>
</blockquote>

<h1>{{ pageTitle }}</h1>

<p>
    Contact us as follows:
</p>

<dl>
    <dt>Email</dt>
    <dd>inquiries@securitydemo.com</dd>

    <dt>Phone</dt>
    <dd>+123 22-333-4444</dd>

    <dt>Address</dt>
    <dd>1 Main Street,<br>Newtown,<br>Ireland</dd>
</dl>
</body>
</html>
