<!doctype html>
<html lang="en">
<head>
    <title>MGW - {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body class="container">

<ul class="nav nav-pills">
    <li class="nav-item {% block homeLink %}{% endblock %}"><a href="/">home</a></li>
    <li class="nav-item {% block contactLink %}{% endblock %}"><a href="/index.php?action=contact">contact details</a></li>
    <li class="nav-item {% block enquiryLink %}{% endblock %}"><a href="/index.php?action=enquiryForm">submit an enquiry</a></li>
</ul>

{% block body %}
{% endblock %}
</body></html>