{% extends 'base.html.twig' %}

{% block title %}home page{% endblock %}

{% block homeLink %}active{% endblock %}

{% block body %}
<h1>Welcome to MGW</h1>

<p>Great products at great prices!
</p>
{% endblock %}
