<!doctype html>
<html lang="en">
<head>
    <title>Twig examples</title>
</head>

<body>
<ul>
    {% for key, value in meals %}
        <li>
            meal: {{ key }} = {{ value }}
        </li>
        {% else %}
        <li>
            (there are no meals to list)
        </li>
    {% endfor %}
</ul>
</body>
</html>
