.glyphicon-star {
    color: goldenrod;
    font-size: 150%;
}

.glyphicon-star-empty {
    color: darkgrey;
    font-size: 150%;
}

.product img {
      width: 100%;
}

.price {
      font-size: 1.5rem;
      font-weight: bold;
}