{% extends 'base.html.twig' %}

{% block pageTitle %}Home Page{% endblock %}

{% block homeLink %}active{% endblock %}

{% block main %}
    <p>
        Welcome to the secure website demo.
    </p>
{% endblock %}
